.header, .partone, .footer{
  background-color: #1F2937;
}

.footer{
  color: #F9FAF8
}

.partthree{
  background-color: #E5E7EB;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

#title{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

#subtitle{
  font-size: 18px;
  color: #E5E7EB;
}

#logosmall{
  width: 100px;
  height: auto;
  border-radius: 5px;
}

#logobig{
  width: 650px;
  height: auto;
  border-radius: 13px;
}

a{
  text-decoration: none;
  color: #f0f0f5;
}

ul{
  margin: 0;
  padding: 0;
}

.topbutt{
  background: rgba(65, 105, 225, .8);
  border: 1px solid royalblue;
  color: white;
  padding: 12px 36px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.partfour{
  background-color: rgba(65, 105, 225, .8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.bottombutt{
  background: rgba(65, 105, 225, .4);
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  font-size: 24px;
  padding: 12px 36px;
}


#fourup{
  font-size: 48px;
  margin: 0px;
  font-weight: bold;
}

#fourdown{
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}


html, body{
  height: 100%;
  min-height: 2000px;
  margin: 0px;
}

body{
  display: flex;
  flex-flow: column nowrap;
}

.header, .partone, .parttwo, .partthree, .partfour {
  display: flex;
}

.header, .partone{
  padding-left: 300px;
  padding-right: 300px;
}

.footer, .header{
  height: 5%;
}

.parttwo{
  height:35%;
}

.parttwo{
  row-gap: 50px;
}

.parttwoup{
  font-size: 40px;
  font-weight: 700;
}

.parttwodown{
  font-size: 20px;
  text-align: center;
}

.card img{
  border: 5px solid royalblue;
  border-radius: 15px;
}

.partone, .partthree{
  height: 20%;
}

.partfour{
  height: 15%;
}

.header, .partone{
  justify-content: space-between;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  flex-flow: row nowrap;
}
.toplinks{
  font-size: 20px;
  list-style: none;
}

.toplinks li{
  display: inline;
  padding: 10px;
}


.parttwo{
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.parttwodown{
  display: flex;
  gap: 70px;
}

.card img{
  width: 250px;
  height: auto;
}

.card{
  max-width: 250px;
}

.partthree{
  justify-content: center;
  flex-flow: column nowrap;
}

.partthree p{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#signaturemandy{
  text-align: right;
  font-weight: bold;
}

.partfour{
  margin: 60px 150px 60px 150px;
  border-radius: 20px;
}
